In [1]:
import pymongo

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import os

In [4]:
password = os.getenv("PASSWORD")

In [5]:
username = os.getenv("USERNAME")

In [6]:
client = pymongo.MongoClient('mongodb://%s:%s@127.0.0.1' % (username, password))
db = client["1-gram_time"]

In [28]:
df = pd.DataFrame(list(db["tweets"].find({ "word": "and" })))
df.head(5)

                        _id   counts rank       time word
0  5c328d4a5920610636fb2ca0  2374312    8 2018-05-20  and
1  5c328d4d5920610636fcb3dc  2011354    9 2014-07-06  and
2  5c328d505920610636fe3b09   130232    9 2010-02-22  and
3  5c328d545920610636ffe431  1827301    9 2018-05-03  and
4  5c328d575920610636016df4  1917554    9 2015-02-17  and

### Pull all unique words
From https://docs.mongodb.com/manual/reference/operator/aggregation/group/#aggregation-group-distinct-values

In [36]:
wordlist = list(db.tweets.aggregate( [ { "$group" : { "_id" : "$word" } } ], allowDiskUse=True))

In [49]:
len(wordlist)

21774095

In [9]:
import csv

In [50]:
c = csv.writer(open("wordlist.csv","wt"))
for row in wordlist:
    c.writerow([row['_id']])