In [35]:
import json
import pandas as pd

In [36]:
language_support = {}
with open('language_support.json', 'r') as file:
      language_support = json.load(file)

In [37]:
language_codes = pd.read_csv('resources_iso-codes.csv').rename(columns={'FastText':'db_code','Language':'language'}).drop(columns='Twitter')

In [38]:
language_codes['support']=[3 if x in language_support['3grams'] else 2 if x in language_support['1grams'] else 0 for x in language_codes['db_code']]

In [39]:
language_codes = language_codes[~language_codes['language'].isin(['Unknown','Undefined'])]
language_codes = language_codes[language_codes['support']>0]

In [50]:
language_dropdown = {}
for index, row in language_codes.iterrows():
    language_dropdown[row['language']]={'db_code':row['db_code'], 'support':row['support']}

In [55]:
with open('../ui/language_dropdown.json', 'w') as outfile:
    json.dump(language_dropdown, outfile)
language_codes.to_csv('language_codes.csv')

In [56]:
language_codes

            language db_code  support
0          Afrikaans      af        3
1           Albanian      sq        3
2            Amharic      am        3
3             Arabic      ar        2
4          Aragonese      an        2
..               ...     ...      ...
175     Western-Mari     mrj        2
176  Western-Panjabi     pnb        2
178            Yakut     sah        2
179          Yiddish      yi        3
180           Yoruba      yo        3

[165 rows x 3 columns]