In [18]:
import pandas as pd
import requests

In [22]:
def load_data(query):
    url = "http://hydra.uvm.edu:3001/api/"+query+"?metric=[rank]"
    r = requests.get(url)
    data = r.json()
    return data

In [37]:
def build_df(query):
    obj = load_data(query)
    ngramdf = pd.DataFrame(columns=['dates','rank'])
    ngramdf['dates']=obj['dates']
    ngramdf['rank']=obj['rank']
    ngramdf.set_index('dates', inplace=True)
    return ngramdf

In [38]:
build_df('happy')

             rank
dates
2009-08-01  264.0
2009-08-02  226.0
2009-08-06  269.0
2009-08-07  247.0
2009-08-08  259.0
2009-08-09  258.0
2009-08-10  275.0
2009-08-11  276.0
2009-08-12  275.0
2009-08-13  268.0
2009-08-14  237.0
2009-08-15  179.0
2009-08-16  244.0
2009-08-17  264.0
2009-08-18  287.0
2009-08-19  267.0
2009-08-20  193.0
2009-08-21  243.0
2009-08-22  256.0
2009-08-23  257.0
2009-08-24  274.0
2009-08-25  286.0
2009-08-26  283.0
2009-08-27  275.0
2009-08-28  258.0
2009-08-29  205.0
2009-08-30  262.0
2009-08-31  259.0
2009-09-01  243.0
2009-09-02  270.0
...           ...
2019-06-15  209.0
2019-06-16  153.0
2019-06-17  199.0
2019-06-18  247.0
2019-06-19  263.0
2019-06-20  260.0
2019-06-21  248.0
2019-06-22  238.0
2019-06-23  239.0
2019-06-24  259.0
2019-06-25  279.0
2019-06-26  276.0
2019-06-27  259.0
2019-06-28  238.0
2019-06-29  256.0
2019-06-30  242.0
2019-07-01  231.0
2019-07-02  251.0
2019-07-03  257.0
2019-07-04  196.0
2019-07-05  249.0
2019-07-06  242.0
2019-07-07  242.0
2019-07-08  262.0
2019-07-09  278.0
2019-07-10  267.0
2019-07-11  247.0
2019-07-12  267.0
2019-07-13  240.0
2019-07-14  249.0

[3628 rows x 1 columns]

In [45]:
def get_all(queries):
    fulldf = pd.DataFrame()
    for query in queries:
        # This part doesn't work yet, needs some massaging
        #fulldf.merge(build_df(query))
    return fulldf

In [46]:
get_all(['happy','birthday'])

Empty DataFrame
Columns: []
Index: []