In [13]:
import json
import pandas as pd

In [14]:
language_support = {}
with open('language_support.json', 'r') as file:
      language_support = json.load(file)

In [33]:
popularity = []
with open('languagepopularity.json', 'r') as file:
    popobj = json.load(file)
    for code in popobj['popularity']:
        popularity.append(code)

In [34]:
top_100 = popularity[:100]

In [35]:
len(top_100)

100

In [36]:
language_codes = pd.read_csv('resources_iso-codes.csv').rename(columns={'FastText':'db_code','Language':'language'}).drop(columns='Twitter')

In [37]:
language_codes['support']=[3 if x in language_support['3grams'] else 2 if x in language_support['2grams'] else 1 if x in language_support['1grams'] else 0 for x in language_codes['db_code']]

In [38]:
language_codes = language_codes[~language_codes['language'].isin(['Unknown','Undefined'])]
language_codes = language_codes[language_codes['support']>0]

In [39]:
language_codes['top100']=[code in top_100 for code in language_codes['db_code']]
language_codes

            language db_code  support  top100
0          Afrikaans      af        3    True
1           Albanian      sq        3    True
2            Amharic      am        3   False
3             Arabic      ar        2    True
4          Aragonese      an        1    True
..               ...     ...      ...     ...
175     Western-Mari     mrj        1   False
176  Western-Panjabi     pnb        1    True
178            Yakut     sah        1   False
179          Yiddish      yi        3   False
180           Yoruba      yo        3   False

[165 rows x 4 columns]

In [41]:
popular = language_codes[language_codes['top100']==True]

In [42]:
language_dropdown = {}
for index, row in popular.iterrows():
    language_dropdown[row['language']]={'db_code':row['db_code'], 'support':row['support']}

In [43]:
with open('../ui/language_dropdown.json', 'w') as outfile:
    json.dump(language_dropdown, outfile)
language_codes.to_csv('language_codes.csv')
popular.to_csv('popular_language_codes.csv')

In [49]:
print(list(popular['db_code']))

['af', 'sq', 'ar', 'an', 'hy', 'ast', 'az', 'eu', 'be', 'bn', 'bs', 'br', 'bg', 'ca', 'ceb', 'ckb', 'cbk', 'hr', 'cs', 'da', 'nl', 'en', 'eo', 'et', 'fi', 'fr', 'fy', 'gl', 'ka', 'de', 'el', 'gu', 'he', 'hi', 'hu', 'is', 'io', 'ilo', 'id', 'ia', 'ie', 'ga', 'it', 'kn', 'kk', 'ko', 'ku', 'la', 'lv', 'lt', 'jbo', 'lb', 'mk', 'mg', 'ml', 'mr', 'mzn', 'min', 'mn', 'ne', 'no', 'nn', 'oc', 'fa', 'pl', 'pt', 'ps', 'qu', 'ro', 'ru', 'nds', 'sr', 'sh', 'sd', 'si', 'sk', 'sl', 'azb', 'es', 'sw', 'sv', 'tl', 'ta', 'te', 'tr', 'uk', 'ur', 'uz', 'vi', 'war', 'cy', 'pnb']